
	<p style="font-size:big">Home Data...</p>

dataa<br>
data<br>
data<br>
data<br>
data<br>
data<br>
data<br>
data<br>
data<br>
data<br>
data<br>

   <button class="button2"  >Cancel</button>
   <button class="button2"  >Save</button>

