Menu
<ul style="list-style-type:none; padding:4px;font-size:small;">
	<li><a href="#">MenuItem1</a></li>
	<li><a href="#">MenuItem2</a></li>
	<li><a href="#">MenuItem3</a></li>
	<li><a href="#">MenuItem4</a></li>	
</ul>